html {
  font-size: 10px;
  background: url("./background.jpg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0rem solid white;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 2rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 0 0 5rem #ffffff;
}

kbd {
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 2.5rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
}
